{% extends 'base.html' %}

{% block content %}
<br>
{% if zipcode %}
   {{ zipcode }}
{% endif %}

{% if api %}
        {% if api == "Error....." %}
                If there was an error please try again..
         {% else %}
            <div class="bg-light p-5 rounded-lg m-3">
                <h1 class="display-4"> {{api.0.Category.Name}}
                  </h1>
                <p class="lead">  {{api.0.ReportingArea}} <br> Air Quality: {{api.0.AQI}}</p>
                
                {% if api.0.Category.Name == "Good" %} 
                 <p>(0-50) Air quality is considered satisfactory, and air pollution poses little or no risk.</p> 
                {% elif api.0.Category.Name == "Moderate"  %}
                <p>
                    (51-100) Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.  
                </p>
                {% elif api.0.Category.Name == "Unhealthy for Sensitive Groups"  %}
                <p> USG: Unhealthy for Sensitive Groups
                    (101-150)Although general public is not likely to be affected at this AQI range, people with lung disease older adults and children are at a greater risk for exposure from ozone.
                </p>
                {% elif api.0.Category.Name == "Unhealthy"  %}
                <p> (151-200) Everyone may begin to experience health effects members of sensitive groups may experience more serious health effects.

                </p>
                {% elif api.0.Category.Name == "Very Unhealthy"  %}
                <p> (201-300) Health alert: Everyone may experiencemore serious health effects.
                </p>
                {% elif api.0.Category.Name == "Very Unhealthy"  %}
                <p>(301-500)Health Warnings of of emergency conditions. The entire population is more likely to be affected. 

                </p>
                {% elif api.0.Category.Name == "Hazardous"  %}
                <p>

                </p>
                
                 {% endif %}

                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
                {% comment %} Air Quality: {{api.0.AQI}} <br>
                Area: {{api.0.ReportingArea}} <br>
                Category: {{api.0.Category.Name}} <br> {% endcomment %}
        {% endif %}
{% endif %}

{% endblock content %}